<div class="container">

  <div id="slider">
    <figure>
      <%= image_tag("vue1.jpg") %>
      <%= image_tag("vue2.jpeg") %>
      <%= image_tag("vue3.jpg") %>
      <%= image_tag("vuebassin2.jpg") %>
      <%= image_tag("vue1.jpg") %>
    </figure>
  </div>

</div>
